<%= render "navbar" %>

<% content_for :sidebar_content do %>
  <%#= render partial: "application/side_navbar" %>
<% end %>


<% content_for :primary_content do %>
  <%#= render partial: "application/feed" %>
<% end %>

<% content_for :secondary_content do %>
  <%#= render partial: "application/feed" %>
     <div class="bg-white shadow rounded-sm">
        <div class="px-8 pt-6 pb-8">
            <% unless user_signed_in? %>
              <%#= image_tag "illustration.svg", class: "max-w-full" %>
              <h3>Explore</h3>
              <p class="text-gray-600 text-sm">Find your breaking news, sports, TV fan theories, or never-ending streams of cute animals.</p>
              <%#= link_to "How BLKroom works", about_path, class: "btn btn-small btn-black my-2 block text-center" %>
            <% else %>
              <h3>Home</h3>
              <p class="text-gray-600 text-sm">Your personal BLKroom frontpage. Come here to check in with your favorite rooms.</p>
              <%#= link_to 'Create a Discussion', new_post_path, class: "btn btn-small btn-white my-2 block text-center"  %>
              <%#= link_to 'Join a Room', rooms_path, class: "btn btn-small btn-black my-2 block text-center"  %>
              <br>
              <h3>Invite a friend to BLKroom!</h3>
              <!--<p>You have <b><%#= @current_user.invitation_limit %></b> invites left.</p>-->
              <%#= render 'devise/invitations/form', invitation: @invitation %>
            <% end %>
        </div>
    </div>
<% end %>

<%= render "basic_layout" %>